#container-centralized-myProfile {
    max-width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

#img-center-myProfile {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 50%;
    filter: drop-shadow(0px 3px 10px #a735f2);
    cursor: pointer;
}

#alter-img {
    cursor: pointer;
}
#title-myProfile {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2vw;
}

#container-edit-profile {
    background: rgba(217, 217, 217, 0.3);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    max-width: 75vw;
    width: 65vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#modal-profile-left {
    width: 33%;
    height: 52vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#modal-profile-center {
    width: 33%;
    height: 52vh;
    justify-content: start;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#modal-profile-right {
    width: 33%;
    padding-top: 20px;
    height: 52vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.input-edit-profile {
    width: 12vw;
    height: 5vh;
    background-color: rgb(50, 31, 117);
    border-radius: 5px;
    color: #d9d9d9;
    padding-left: 10px;
    font-family: "Inria Sans", sans-serif;
    border: none;
    cursor: pointer;
}
.input-edit-profile:hover {
    background-color: rgb(50, 31, 117,0.6);
}
.input-edit-profile-adress {
    width: 12vw;
    height: 5vh;
    background-color: rgb(50, 31, 117);
    border-radius: 5px;
    color: #d9d9d9;
    padding-left: 10px;
    font-family: "Inria Sans", sans-serif;
    border: none;
    cursor: pointer;
}
.input-edit-profile-adress:hover {
    background-color: rgb(50, 31, 117,0.6);
}
::placeholder {
    display: flex;
    font-size: 12px;
    padding-left: 10px;
    color: #d9d9d9;
    font-family: "Inria Sans", sans-serif;
}
#btn-confirm-edit {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--btn-bg-color);
    font-family: "Inria Sans";
    font-weight: bold;
    font-size: 15px;
    color: #d9d9d9;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#btn-confirme-edit:hover {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: inset 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
#input-profile {
    display: none;
}
#formElem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}