@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* :root{
    --main-bg-color:#030526;
    --btn-bg-color:#A735F2;
    --btn-search-colo:#321F75;
    --radial-bg-color: radial-gradient(50% 50% at 50% 50%, rgba(167, 53, 242, 0.35) 0%, rgba(79, 57, 211, 0) 100%), #030526
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 200vh;
    background:var(--radial-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:center;
    flex-direction: column;
    font-family: 'Inria Sans', sans-serif;
    color: #d9d9d9;
    overflow-x: hidden;
}
#container-main {
    max-width: 1100px;
    display: flex;
    align-items:center;
    flex-direction: column;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    max-width: 1100px;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header span {
    font-size: 20px;
}
#title {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom:40px;
    font-size: 40px;
}
#logo-img {
    max-width: 150px;
    width: 115px;
    height: 115px;
}
#userImg {
    max-width: 130px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: dashed 2px var(--btn-bg-color);
} */
/* #containerUser {
    width:120px;
    height: 100px;
    display: flex;
    padding-top: 10px;
    gap: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#nameUser {
    font-size: 15px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;
} */
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#list-albums {
    width: 350px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "Inria Sans", sans-serif;
    color: #030526;
    font-weight: bold;
    border: none;
    background: url("imgs/search.png") no-repeat;
    background-color: #ebe8e8;
    background-size: 15px;
    font-size: 18px;
    background-position: 115px;
    cursor: pointer;
    padding-left: 10px;
}
#list-albums:focus {
    outline: none;
    border: 1.5px solid var(--btn-bg-color);
}
#list-albums:hover {
    background-color: var(--btn-bg-color);
    opacity: 0.9;
    transition: ease-in-out 0.3s;
}
#list-albums::placeholder {
    font-size: 15px;
    color: #030526;
    font-family: "Inria Sans", sans-serif;
}
#individual-disc {
    width: 95vw;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#name-album {
    font-size: 30px;
}
#img-album {
    width: 280px;
}
#select-albums {
    display: none;
    padding: 5px;
    position: absolute;
    top:42%;
    left: 34%;
    background-color: rgb(50, 31, 117, 0.8);
    color: #d9d9d9;
    /* box-shadow: 6px 6px 15px 1px rgba(0,0,0,0.81); */
    box-shadow: 3px 3px 13px 1px var(--btn-bg-color);
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
.style-select {
    font-family: "Inria Sans", sans-serif;
    font-size: 15px;
    width: bold;
    background-color: #321f75;
    color: #ebe8e8;
    border-radius: 5px;
    /* padding:0.5px; */
    border: solid 1.5px rgb(173, 168, 169);
    cursor: pointer;
}

#description-disc-register {
    background-color: rgb(217, 217, 217, 0.2);
    max-width: 800px;
    width: 95vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* margin-top: 4vw; */
    border-radius: 30px;
}
label {
    font-size: 16px;
}
#description-line {
    background-color: rgb(240, 248, 255, 0.7);
    width: 1px;
    height: 230px;
}
#description-disc-left-register {
    margin-left: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
#description-disc-right-register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
    gap: 1.6vw;
    width: 350px;
    height: 228px;
    padding: 24px;
}
#description-vinil-label {
    display: flex;
    align-self: flex-start;
}
#register-album-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#register-album {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--btn-bg-color);
    font-family: "Inria Sans";
    font-weight: bold;
    font-size: 15px;
    color: #d9d9d9;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#section-imgs-disc {
    max-width: 1100px;
    width: 62vw;
    height: 40vh;
    padding: 15px;
}
#musics-disc-register {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgs-disc-user {
    width: 150px;
    height: 150px;
    background-color: #030526;
    box-shadow: 0px 4px 20px 0px var(--btn-bg-color);
    cursor: pointer;
}
#position-imgs-disc-user {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#msg-error {
    font-size: 20px;
    font-family: "Inria Sans";
    color: rgb(228, 15, 15);
    padding: 10px;
}
#msg-error-register {
    padding: 10px;
    font-size: 20px;
    font-family: "Inria Sans";
    color: rgb(228, 15, 15);
}
#register-disc-title {
    font-size: 28px;
    font-family: "Inria Sans";
    padding: 10px;
}
#register-disc-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#logo-register-disc {
    width: 30px;
}
#logo-register-disc-position {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.img-div-photo {
    width: 150px;
    height: 150px;
    display: none;
}
.input-upload {
    display: none;
}
#modal-select {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}