@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --main-bg-color: #030526;
  --btn-bg-color: #a735f2;
  --radial-bg-color: radial-gradient(
      50% 50% at 50% 50%,
      rgba(167, 53, 242, 0.35) 0%,
      rgba(79, 57, 211, 0) 100%
    ),
    #030526;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--radial-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inria Sans", sans-serif;
  color: #d9d9d9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
  align-items: center;
}

a img {
  width: 160px;
  margin-left: 18px;
}

#container-center {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  max-width: 500px;
  width: 90vw;
  height: 500px;
  border: solid 0.1px #d9d9d9;
  border-radius: 8px;
  padding-top: 35px;
  gap: 45px;
}

#container-center-register {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  max-width: 500px;
  width: 90vw;
  border: solid 0.1px #d9d9d9;
  border-radius: 8px;
  padding-top: 35px;
  gap: 45px;
}

input {
  max-width: 250px;
  width: 80vw;
  height: 35px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
  font-size: 16px;
  background: var(--main-bg-color);
  border: none;
  border-radius: 5px;
}

::placeholder {
  display: flex;
  /* justify-content: center; */
  font-size: 13px;
  padding-left: 10px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
}

#btn-submit {
  max-width: 250px;
  width: 80vw;
  height: 35px;
  background: var(--btn-bg-color);
  border-radius: 5px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#btn-submit:hover {
  opacity: 0.85;
}

.title {
  font-size: 20px;
}

#message {
  font-size: 28px;
  text-align: center;
  margin-top: 25px;
}

#create-acount {
  display: flex;
  margin-top: 5px;
}

#enter {
  display: flex;
  margin-top: 40px;
}

#enter a {
  color: #a735f2;
  font-family: "Inria Sans", sans-serif;
  display: flex;
  margin-top: 80px;
  font-size: 15px;
}

span a {
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
}

/* MEUS DISCOS */

:root {
  --main-bg-color: #030526;
  --btn-bg-color: #a735f2;
  --btn-search-colo: #321f75;
  --radial-bg-color: radial-gradient(
      50% 50% at 50% 50%,
      rgba(167, 53, 242, 0.35) 0%,
      rgba(79, 57, 211, 0) 100%
    ),
    #030526;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 95vh;
  background: var(--radial-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inria Sans", sans-serif;
  color: #d9d9d9;
}
#container-main {
  max-width: 1100px;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 1100px;
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header span {
  font-size: 20px;
}

#title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 40px;
}
#logo-img {
  max-width: 150px;
  width: 115px;
  height: 115px;
}
#userImg {
  max-width: 130px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: dashed 2px var(--btn-bg-color);
}
#containerUser {
  width: 120px;
  height: 100px;
  display: flex;
  padding-top: 10px;
  gap: 3px;
  /* padding-right:30px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#nameUser {
  font-size: 15px;
  font-family: "Inria Sans", sans-serif;
  font-weight: bold;
}
#searchBar {
  width: 140px;
  height: 30px;
  border-radius: 15px;
  font-family: "Inria Sans", sans-serif;
  border: none;
  background: url("imgs/search.png") no-repeat;
  background-color: var(--btn-search-colo);
  background-size: 15px;
  background-position: 115px;
  cursor: pointer;
  color: #d9d9d9;
  /* padding-left: 10px; */
}
#searchBar:focus {
  outline: none;
  border: 1.5px solid var(--btn-bg-color);
}
#searchBar:hover {
  background-color: var(--btn-bg-color);
  opacity: 0.9;
  transition: ease-in-out 0.3s;
}
::placeholder {
  display: flex;
  font-size: 13.3px;
  padding-left: 10px;
  color: #d9d9d9;
  font-family: "Inria Sans", sans-serif;
}
#container {
  max-width: 1100px;
  width: 90vw;
  height: 50vh;
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* main {
  display: flex;
} */
.card-disc {
  background-color: rgb(122, 122, 122, 0.5);
  width: 185px;
  height: 260px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 160px;
  height: 170px;
}
#name-disc {
}
#year-disc {
}
#info-disc {
}
.card-add {
  background-color: #030526, 0.3;
  width: 65px;
  height: 65px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px 0px var(--btn-bg-color);
}
.card-add-icon {
  width: 45px;
}
