#trade-disc {
    max-width: 1000px;
    width: 98vw;
    height: 62vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
#central-line {
    background-color: #d9d9d9;
    width: 2.5px;
    height: 300px;
    display: flex;
    align-self: center;
}
.trade-text {
    font-size: 30px;
}
#offer-disc-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    padding: 20px;
}
#want-disc-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
#position-trade-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-add {
    background-color: #030526, 0.3;
    width: 65px;
    height: 65px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px 0px var(--btn-bg-color);
}
.card-add-icon {
    width: 45px;
}
.card-img {
    width: 160px;
    height: 170px;
}
#btn-trade {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--btn-bg-color);
    font-family: "Inria Sans";
    font-weight: bold;
    font-size: 15px;
    color: #d9d9d9;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#select-trade{
    background-color: rgb(50, 31, 117, 0.8);
    color: #d9d9d9;
    /* box-shadow: 6px 6px 15px 1px rgba(0,0,0,0.81); */
    box-shadow: 3px 3px 13px 1px var(--btn-bg-color);
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
#subm-trade {
    width:180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "Inria Sans", sans-serif;
    color: #030526;
    font-weight: bold;
    border: none;
    background: url("imgs/search.png") no-repeat;
    background-color: #ebe8e8;
    background-size: 15px;
    font-size: 18px;
    background-position: 115px;
    cursor: pointer;
    padding-left: 10px;
}

